/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body and HTML*/
body, html {
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    height: 100%;
}

/*Navbar*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 20px;
    z-index: 100;
}

.navbar .logo img {
    height: 30px;
}

.nav-links {
    margin-left: 500px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00aaff;
}

/*Hamburger Menu*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

.hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/*Hero Section*/
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
    z-index: 0;
}

.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 2s forwards 0.5s;
}

/*Animation for paragraph*/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero-content .btn-reservation {
    padding: 12px 30px;
    background-color: #daa520;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hero-content .btn-reservation:hover {
    background-color: #c99a3b;
}

/*Mobile Responsiveness*/
@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .nav-links {
        position: fixed;
        top: 70px;
        right: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    .nav-links li {
        margin: 20px 0;
    }

    .hamburger {
        display: flex;
    }

    .nav-active {
        transform: translateX(0);
    }

    .hero-content h1 {
        font-size: 1.8rem;
    }

    .hero-content p {
        max-width: 300px;
        font-size: 0.9rem;
    }

    .hero-content .btn-reservation {
        padding: 10px 30px;
        font-size: 1rem;
    }
}

/*Reservation*/
.reservation-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
    border-radius: 15px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/*Form Styles*/
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    color: white;
}

input,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white; 
}

input:focus,
textarea:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}

button {
    padding: 10px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #008bb5;
}

/*Mobile Responsiveness*/
@media (max-width: 600px) {
    .modal-content {
        margin: 10% auto;
        padding: 15px;
        width: 90%;
    }

    label {
        font-size: 16px;
    }

    input,
    textarea {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 8px;
        font-size: 16px;
    }
}

/*About Section*/
.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: inherit;
}

.about-content {
    padding-top: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.about img {
    max-width: 700px;
    border: none;
    height: auto;
    padding-right: 50px;
}

.about-text {
    font-weight: bold;
    color: #333;
    padding-left: 50px;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.about-text p {
    font-size: 1.2rem;
}

.find-out-more {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.find-out-more:hover {
    background-color: #0056b3;
}

/* About Section Mobile Styles */
@media (max-width: 768px) {
    .about {
        flex-direction: column;
        padding: 20px;
    }

    .about-content {
        padding-top: 50px;
        padding-right: 50px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about img {
        padding-left: 99px;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .about-text {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .about-text h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }


    .about-text p {
        font-size: 1rem;
        color: #333;
    }
}

/*Menu Section*/
.menu-section {
    text-align: center;
    margin: 50px 0;
}

.menu-section h2 {
    padding-bottom: 50px;
    font-size: 2rem;
}

.menu-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.menu-item {
    cursor: pointer;
    text-align: center;
    margin: 0;
}

.menu-item img {
    border-radius: 20px;
    width: 250px;
    height: 250px; 
    object-fit: cover;
    transition: transform 0.3s ease;
}

.menu-item:hover img {
    transform: scale(1.05);
}

/*Modal Styling*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content-menu {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.692);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    max-width: 600px;
}

.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/*Media Queries*/
@media (max-width: 768px) {
    .menu-options {
        flex-direction: row;
        gap: 10px;
    }

    .menu-item img {
        width: 150px; 
        height: 150px;
    }

    .modal-content-menu {
        width: 90%;
    }
}

